{% extends "layout.html" %}
{% block content %}
{% for m in messages %}
<article class="media content-section">
    <div class="row">
        <div class="col-sm">
            <p class="article-content">{{ m.sent_at.strftime("%X") }}</p>
            <p class="article-content">{{ m.content }}</p>
        </div>
        <div class="col-sm">
            <a href="/new_message/{{ m.from_id }}" class="btn btn-sm" role="button" aria-disabled="true">vastaa
                viestiin</a>
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}